<section>

  <div class="row ps-4">
    <div class="col-sm-3 pt-3">
      <input #newToken class="form-control" (keyup.enter)="tokenEnter(newToken.value)">

      <div class="pt-3">
        <button type="button" class="btn btn-primary" (click)="tokenEnter(newToken.value)">Submit Token</button>
      </div>
      
    </div>
  </div>

  <div *ngIf="show" class="row">

    <form #myForm [formGroup]="form" (ngSubmit)="onFormSubmit();">

      <div class="row">

        <div class="col-sm-3 pt-3">
          <label class="ps-3" style="font-weight:bold">Groups</label>
          <div class="ps-3 pb-1" *ngFor="let group of posts"><input type="radio" name="radioGroups"
              id="{{group.id+533}}" value="{{group.id}}" (change)="changedGroup(group.id)" (click)="clear()">
            <label class="form-check-label ps-2" for="{{group.id+533}}">{{group.name}}</label>
          </div>
        </div>

        <div class="col-sm-4 pt-3">
          <label class="ps-3" style="font-weight:bold">Projects</label>
          <div class="ps-3 pb-1" *ngFor="let project of projects |paginate :{
          itemsPerPage: 10,
          currentPage: pageProjects
        };">

            <input type="checkbox" class="form-check-input" id="{{project.id+'a'}}" value="{{project.id}}"
              (change)="changedProject(project.id, project.name, $any($event.target)?.checked)">
            <label class="form-check-label ps-2" for="{{project.id+'a'}}">{{project.name}}</label>

          </div>
          <div class="d-flex justify-content-left">
            <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
              (pageChange)="onProjectsPageChange($event)">
            </pagination-controls>
          </div>
        </div>

        <div class="col-sm-3 pt-3">
          <label class="ps-3" style="font-weight:bold">Committers</label>
          <div class="ps-3 pb-1" *ngFor="let committers of committerMailsUnique ">
            <input type="checkbox" class="form-check-input" id="{{committers}}" value="{{committers}}"
              (change)="changedCommitter(committers, $any($event.target)?.checked)">
            <label class="form-check-label ps-2" for="{{committers}}">{{mailSplitter(committers)}}</label>
          </div>
        </div>
        <div class="col-sm-2 ps-4 pt-3">
          <label for="dateSince" style="font-weight:bold">From</label><br>
          <input type="date" id="dateSince" class="form"(change)="dateSince($event)" /><br>
          <label for="dateSince" style="font-weight:bold">To</label><br>
          <input type="date" id="dateUntil" class="form"(change)="dateUntil($event)" />
        </div>

      </div>

      <div class="row pt-3">
        <div class="col-sm-12 ps-3 pt-4">
          <div class="ps-2">
            <input type="checkbox" class="form-check-input" id="mergeControl" (change)="mergeSubmit()">
            <label for="mergeControl" class="ps-1">Include Merges</label>
            <label class="ps-3"></label>
            <button type="submit" class="btn btn-primary" (click)="clear()">Submit</button>
          </div>
        </div>
      </div>
    </form>




    <div class="row pt-3" *ngFor="let projectId of formDeger; index as index1">

      <div class="chartBox col-sm-6">
        <div style="border:1px solid #ddd;">
          <canvas id="{{projectId}}"></canvas>
        </div>
      </div>

      <div class="col-sm-6">

        <table id="tableCSSlendin">

          <tr>
            <th>
              Committer Name
            </th>
            <th>
              Number of Commits
            </th>
          </tr>
          <tr *ngFor="let mail of mailHolder;index as index2">
            <td>
              {{mailSplitter(mail)}}
            </td>
            <td>
              {{setTableData(index1, index2)}}
            </td>
          </tr>
        </table>

      </div>


    </div>
  </div>
</section>